/*** LARGE DEVICES: LESS ***/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	section {
		margin: 50px auto 35px;
	}

	article, article.col-sm-6 {
		margin-top: 40px;
		padding: 0 8%;
	}

	.navbar ul {
		width: 65%
	}

	.page-intro {
		width: 60%;
	}

	.calendar img {
		max-width: 400px;
	}

}