/*** LARGE DEVICES: LESS ***/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.hero-hp {
		img {
		    max-width: 500px;
		    padding: 10% 0;
		} 
	}

	section {
		margin: 50px auto 35px;
	}

	article, article.col-sm-6 {
		margin-top: 40px;
		padding: 0 8%;
	}

	.page-intro {
		width: 60%;
	}

	.calendar img {
		max-width: 400px;
	}

}