/*** MEDIUM DEVICES: LESS ***/

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	h1 {
		font-size: 2.15em;
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.5em;
	}

	p, h5 {
		font-size: 1.3em;
	}

	.more-link {
		margin-top: 20px;
		font-size: 1.5em;
	}

	section {
		margin: 50px auto 35px;
	}

	article, article.col-sm-6 {
		margin-top: 20px;
		padding: 0 5%;
	}

	.md-hide {
		display: none;
	}

	.navbar ul {
		width: 80%
	}

	.hero-hp {
		img {
		    max-width: 500px;
		    padding: 10% 0;
		} 
	}

	.calendar img {
		max-width: 300px;
	}

	.highlight h1 {
		padding-top: 15px;
	}

	.sidebar-sp {
		margin-top: 0;
		padding-top: 50px;
	}
	
}