/*** MEDIUM DEVICES: LESS ***/

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	header {
		img {
		    max-width: 500px;
		    padding: 10% 0;
		} 
	}

	.shop-hp {
		article {
			display: inline-block;
			float: left;
		}
		div {
			width: 90%;
			max-width: 400px;
		}
		hr {
			clear: none;
			display: none;
		}
	}
	
}