/*** SMALL DEVICES: LESS ***/

/* Small devices (phones and tablets, 768px and up) */
@media (min-width: 768px) { 
	p, h5 {
		font-size: 1.2em;
	}

	nav {
		font-size: 1.25em;
	}

	.navbar-nav.nav-justified > li{
    float:none;
}

	.hero-hp {
		img {
		    max-width: 400px;
		    padding: 10% 0;
		} 
	}

	.sm-hide {
		display: none;
	}

	.about-hp-info, .about-hp-img {	
		float: left;
	}

	.about-hp-info {
		width: 60%;
	}

	.about-hp-img {
		width: 40%;
		img {
			margin-top: 0;
		}
	}
	
	.signup-hp {
		padding-bottom: 15px;
	}

	.signup-hp {
		.mc-field-group {
			width: 35%;
			float: left;
		}
		input {
			width: 95%;
			height: 43px;
		}
		button, input[type="submit"] {
			width: 28%;
		}
	}

	.blog-hp, .shop-hp {
		h1 {
			margin-top: 0;
			padding-top: 0;
		}
	}

	.post-hp {
		width: 45%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}

	.shop {
		img {
			max-width: 300px;
		}
	}

	/*** SUBPAGES ***/

	/*** SP: WHO WE ARE ***/
	.about-sp-img {
		img {
			margin-top: 25px;
			width: 100%;
		}
	}

	.about-sp-info {
		margin: 25px auto;
	}

	/*** SP: ADVENTURES ***/
	#adventures-page article {
	margin-top: 60px;
	}

	#adventures-page div  {
		margin-bottom: 40px;
	}

	.adventures-sp h5 {
		width: 85%;
	}

	.calendar-hp-img {
		width: 30%;
	}

	.calendar-hp-info {
		width: 50%;
	}

	.button-div {
		float: left;
		width: 10%;
	}

	.calendar-hp button, .calendar-hp input[type="submit"] {
    	margin-top: 0px;
	}

	/*** SP: BLOG ***/
    .post-sp {
	    width: 85%;
	    margin: 50px auto 0;
	}

	#blog-page {
		button, input[type="submit"] {
	    	display: inline;
	    	margin: 50px 10px 0;
	    }
	    .button-nav {
	    	width: 400px;
	    	margin: auto;
	    }
	}
    
}