/*** SMALL DEVICES: LESS ***/

/* Small devices (phones and tablets, 768px and up) */
@media (min-width: 768px) { 
	h1 {
		font-size: 1.75em;
	}

	p, h5 {
		font-size: 1.2em;
	}

	section {
		margin: 35px auto 25px;
	}

	article, article.col-sm-6 {
		margin-top: 20px;
		padding: 0 5%;
	}

	.page-intro {
		font-size: 1.3em;
		text-align: center;
	}

	nav {
		font-size: 1em;
	}
 
	.navbar {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
		max-height: 400px;
	}

	.navbar-brand {
		height: 65px;
		padding-top: 10px;
		padding-right: 20px;
		border-right: 1px solid @Himalaya;
		a {
			font-size: .5em;
		}
		img {
			display: block;
			margin: auto;
		}
	}

	.navbar ul {
		width: 95%;
		margin: auto;
		padding-top: 15px;
	}

	.nav>li>a {
		padding-left: 5px;
		padding-right: 5px;
	}

	.hero-hp {
		img {
		    max-width: 500px;
		    margin: auto;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
		} 
	}

	.sm-hide {
		display: none;
	}

	.about-details, .about-img {	
		float: left;
	}

	.about-details {
		width: 60%;
	}

	.about-img {
		width: 40%;
		img {
			margin-top: 0;
		}
	}

	.signup {
		padding-bottom: 25px;
		.mc-field-group {
			width: 35%;
			float: left;
		}
		input {
			width: 95%;
			height: 43px;
		}
		button, input[type="submit"] {
			width: 28%;
		}
	}

	.articles, .shop {
		h1 {
			margin-top: 0;
			padding-top: 0;
		}
	}

	.post-preview {
		width: 45%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}

	.shop {
		img {
			max-width: 300px;
		}
	}

	/*** SUBPAGES ***/
	.header-sp {
		margin-top: 85px;
	}
	
	.page-intro {
		width: 85%;
	}
	
	/*** SP: ADVENTURES ***/
	#adventures-page {
		article {
			margin-top: 50px;
		}
		div {
			margin-bottom: 25px;
		}
	}

	#adventures-page .calendar button, #adventures-page .calendar input[type="submit"] {
    	margin-top: 0px;
    	float: left;
    	margin-left: 15px;
	}

	/*** SP: WHO WE ARE ***/
	#about-page {
		.circle {
			width: 100%;
			max-width: 300px;
		}
	}
	/*** SP: BLOG ***/
	#blog-page {
		.post-preview {
			width: 100%;
		}
		button, input[type="submit"] {
	    	display: inline;
	    	margin: 50px 10px 0;
	    }
	    .button-nav {
	    	width: 400px;
	    	margin: auto;
	    }
	    .sidebar-sp {
	    	button, input[type="submit"] {
	    		margin-top: 10px;
	    	}
	    }
	}
    
}