/*** TYPOGRAPHY: LESS ***/

h1, h2, h3, h4 {
	color: @River;
	text-transform: uppercase;
}

h1, h3 {
	font-family: @font-header;
}

h2, h4 {
	font-weight: 300;
}

h5 {
	font-weight: 600;
}

h1 {
	font-size: 1.75em;
}

h2 {
	font-size: 1.5em;
}

h3, h5 {
	margin-top: 0;
}

a, a:visited {
	color: @GlacialLake;
	font-weight: 300;
	text-transform: uppercase;
}

a:hover, a:active {
	color: @River;
	text-decoration: none;
}

i {
	color: @White;
	font-size: 1em;
}

body {
	color: @NightSky;
	font-family: @font-body;
}

/* NAV */
nav {
	font-family: @font-header;
	text-transform: uppercase;
}
	
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: @White;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: @Himalaya;
}

/* MAIN */

.more-link {
	margin: 15px 0 25px;
	font-size: 1.5em;
}

hr {
	clear: both;
	margin-bottom: 35px;
}

.about-hp {
	h1, p {
		color: @White;
	}
}
